html{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
}
body{
    font-size: 0.75rem;
    letter-spacing: 0.6px;
    line-height: 1;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Raleway";
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 1.14;
}

h1{
    font-weight: 700;
    font-size: 12.5rem;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover
}

.title, h2{
    font-size: 3rem;
}

.title{
    position: relative;
    padding-right: 48px;
    color: #01353E;
}
.title:after{
    content: '/';
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 4.5rem;
    color: #00B2A0;
}

.link{
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
}

.link:before{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    background: var(--color-green);
    transition: all .5s ease-out;
}
.link:hover:before{
    width: 100%;
}

.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.content_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* header start */

.header{
    position: relative;
    height: 100vh;
    padding-top: 1px;
}
.header::before,
.header::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.header::before{
    background: var(--header-bg) no-repeat center bottom;
    height: 100%;
    z-index: -2;
    background-size: cover;
}
.header::after{
    height: 491px;
    z-index: -1;
    background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}
.logo{
    width: 60px;
}
.header_logo{

}
.header_navigation{
    margin: 0 auto;
}
.header_top{
    display: flex;
    align-items: center;
    margin-top: 33px;

}
.header_top:after{
    content: '';
    width: 60px;
    display: inline-block;
}
.navigation_wrapper{
    display: flex;
}
.navigation_wrapper .link{
    color: white;
    letter-spacing: 0.6px;
}
.navigation_wrapper .navigation_link+.navigation_link{
    margin-left: 45px;
}
.header_content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 98px);
    align-items: center;
    justify-content: space-between;
}
.header_title{
    margin-top: auto;
    margin-left: 2.6rem;
    font-size: 12.5rem;
    font-weight: 700;
    color: #0D302C;
    line-height: 1.18;
}
.header_text{
    font-size: 1.5rem;
    margin-bottom: auto;
    padding-bottom: 75px;
}
.header_icon{
    margin-bottom: 89px;
}

/* header end */

/*about start */
.about{
    padding-top: 189px;
    padding-bottom: 200px;
}


.about_title{
    margin-bottom: 100px;
}

.about_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about_text{
    margin-bottom: 30px;
    margin-right: 120px;
    max-width: 480px;
    color: #242121;
}
/*about end */

/* receive start */

.receive{
    padding: 200px 0;
    background: #F8F8F8;
}

.receive_title, .receive_info{
    margin-bottom: 100px;
}
.receive_info,
.receive_statistic{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.receive_block{
    display: flex;
    align-items: center;
    max-width: 350px;
    flex-direction: column;
}
.receive_block-header{
    margin-bottom: 20px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    max-width: 220px;
}
.receive_block-img{
    height: 100%;
    margin-right: 10px;
}

.receive_block-title{
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 400;
}

.statistic_percent{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.percent_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.percent_block-img{
    position: relative;
    padding-right: 53px;
    padding-top: 8px;
    height: 30px;
}
.percent_block-img svg{
    width: 100%;
    height: 100%;
}

.percent_block-info{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.5rem;
}

.percent_block-text{
    font-weight: 300;
    font-size: 0.75rem;
}

.statistic_content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* receive end */

/* success start */

.success{
    display: flex;
}

.success_image{
    max-width: 50vw;
    width: 100%;
}

.success_content{
    margin-right: 40px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
}

.success_title{
    margin-top: 200px;
    margin-bottom: 100px;
}
.success_text{
    max-width: 507px;
    margin-right: auto;
}

.success_text+.success_text{
    margin-top: 30px;
    line-height: 1.125rem;
}

/* success end */

/* gallery start*/

.gallery{
    padding: 200px 0;
}

.gallery_title{
    margin-bottom: 200px;
}

.gallery_control{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.gallery_button{
    background: none;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    color: black;
    transition: all 0.5s ease;
    cursor: pointer;
}
.gallery_button:hover,
.gallery_show:hover,
.gallery_button-active{
    color: #00B2A0;
}


.gallery_images {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: row dense;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.gallery_item{
    justify-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    max-height: 280px;
    height: 100%
}


.gallery_item-big{
    grid-column: span 2;
}

.gallery_item img{
    width: 100%;
    object-fit: cover;
    height: fit-content;
}

.gallery_show{
    border: 1px solid #C4C4C4;
    padding: 23px 91px;
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

/* gallery end*/

/* quote start */

.quote{
    height: 200px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote_content{
    text-align: end;
}
.quote_content p{
    font-size: 2.25rem;
    font-style: italic;
    padding: 0 140px;
}
.quote_content cite{
    font-style: italic;
    font-weight: 300;
}

/* quote end */

/* pluses start */

.pluses{
    padding-top: 200px;
}

.pluses_video{
    width: 100%;
    position: relative;
    max-height: 600px;
    margin-bottom: 200px;
}

#video{
    width: 100%;
    height: 100%;
    max-height: 600px;
}

.video_play{
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background: url(../image/arrow.png) no-repeat center center;
    border: none;
    cursor: pointer;
}

.pluses_content{
    display: flex;
}

.pluses_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pluses_block + .pluses_block{
    margin-left: 100px;
}

.pluses_text-big{
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.6875rem;
    color: #01353E;
}
.pluses_text{
    font-size: 0.875rem;
    font-weight: 300;
}

/* pluses end */

/* blog start */
.blog{
    padding-top: 200px;
}
.blog_title{
    margin-bottom: 200px;
}

.swiper-container{
    width: 100%;
    height: 42vw;
}

.blog_slide{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.blog_slide::after{
    content: '';
    background-color: rgba(34, 33, 33, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}


.slide_content{
    width: 50%;
    margin-left: auto;
    z-index: 3;
    position: relative;
}

.swiper-pagination .swiper-pagination-bullet,
.swiper-pagination .swiper-pagination-bullet-active{
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active{
    background: #00B2A0;
}
.swiper-container.swiper-container-initialized .swiper-pagination{
    bottom: 4vw;
}

.blog_slide-title, .blog_slide-text{
    color: white;
}
.blog_slide-title{
    font-size: 3rem;
    font-weight: 400;
    font-family: "Roboto";
}
.blog_slide-text{
    font-size: 1.125rem;
    font-weight: 300;
}

/* blog end */

/* team start */

.team{
    padding: 200px 0;
}

.team_title{
    margin-bottom: 200px;
}

.team_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.team_block{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_block-img{
    object-fit: cover;
    width: 100%;
    height: 450px;
    margin-bottom: 25px;
}

.team_block-text{
    font-size: 0.875rem;
    text-align: center;
}
.team_block-name{
    font-size: 1.125rem;
    font-weight: 700;
}

/* team end */

/* service start */

.service{
    padding: 200px 0;
    background: #F8F8F8;
}

.service_title{
    margin-bottom: 200px;
}

.service_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service_block{
    max-width: 360px;
    width: 100%;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
}

.service_block-title{
    margin-top: 45px;
    color: #01353E;
    font-size: 2.25rem;
    margin-bottom: 60px;
}

ul.service_list{
    margin-bottom: auto;
}

.service_list .service_list-item{
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.service_block-price{
    margin-bottom: 45px;
    color: #01353E;
    font-size: 1.125rem;
}

.service_block-price .price-big{
    font-size: 2.25rem;
}

/* service end */

/* map start */

.map{
    padding: 200px 225px 0;
    width: 100%;
    position: relative;
}

.map_frame{
    width: 100%;
    height: 33.33vw;
}

/* map end */

/* contact start */

.contact{
    padding: 200px 0;
}

.contact_title{
    margin-bottom: 200px;
}

.contact_content{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.contact_form{
    padding-right: 30px;
}

.contact_form input,
.contact_form textarea{
    color: #00B2A0;
    border: none;
    border-bottom: 2px solid #DADADA;
    font-size: 1.125rem;
    width: 100%;
}
.contact_form input::placeholder,
.contact_form textarea::placeholder{
    color: #00B2A0;
    font-size: 1.125rem;
}

.contact_form input{
    padding: 18px 0;
    margin-bottom: 14px;
}

.contact_form textarea{
    min-height: 155px;
    resize: none;
    margin: 40px 0 73px;
}

.contact_form textarea::placeholder{
    width: 260px;
}

.contact_form button{
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 24px 111px;
    border: 1px solid #C4C4C4;
    transition: .5s all ease;
    background: none;
}
.contact_form button:hover{
    color: #00B2A0;
}

.contact_info{
    width: 50%;
    position: relative;
    overflow: auto;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    min-height: 460px;
    height: 100%;
}

.contact_info-text,
.contact_info-tel,
.contact_info-address{
    font-size: 1.5rem;
    max-width: 330px;
    width: 100%;
}

.contact_social{
    display: flex;
}

.contact_social-link{
    font-size: 1.5rem;
    transition: all .5s ease;
    color: inherit;
    text-decoration: none;
}
.contact_social-link:hover{
    color: #00B2A0;
}
.contact_social-link + .contact_social-link{
    margin-left: 10px;
}

/* contact end */

/* footer start */
.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #00B2A0;
}


/* footer end */