html, body{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    position: relative;
}
body:before{
    content: '';
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: #000;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container{
    max-width: 1230px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.link{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    font-weight: 500;
}

.link:before{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background: white;
    transition: all .5s ease;
    bottom: 0;
}

.link:hover:before{
    width: 100%;
}

.intro{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.intro:before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('../image/bg.png') right center;
    background-size: cover;
}

.header{
    display: flex;
    align-items: flex-end;
    margin-bottom: calc(20px + 20.4vh);
    margin-top: 33px;
}

.header_logo{
    max-width: 194px;
    margin-right: 34px;
}

.header_navigation{
    max-width: 450px;
    width: 100%;
}

.navigation_wrapper{
    display: flex;
    justify-content: space-between;
}

.intro_title{
    font-size: 10rem;
    line-height: 11.5rem;
    margin-bottom: 15px;
}

.intro_text{
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 674px;
    width: 100%;
}

.swiper-slide{
    margin-bottom: 46px;
}

.swiper-container.swiper-container-initialized .swiper-pagination{
    bottom: -26px;
    text-align: start;
}

.swiper-pagination .swiper-pagination-bullet,
.swiper-pagination .swiper-pagination-bullet-active{
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 1;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet{
        margin: 0;
}
.swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet{
    margin-left: 20px;
}


