@font-face {
    font-family: "Pioneer";
    src: url("../fonts/pioneer/pioneer.eot");
    src: url("../fonts/pioneer/pioneer.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pioneer/pioneer.woff") format("woff"),
    url("../fonts/pioneer/pioneer.woff2") format("woff2"),
    url("../fonts/pioneer/pioneer.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TT2020Base";
    src: url("../fonts/TT2020Base/TT2020Base.eot");
    src: url("../fonts/TT2020Base/TT2020Base.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TT2020Base/TT2020Base.woff") format("woff"),
    url("../fonts/TT2020Base/TT2020Base.woff2") format("woff2"),
    url("../fonts/TT2020Base/TT2020Base.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}