html, body{
    font-size: 12px;
    font-family: "TT2020Base";
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Pioneer";
}



.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    text-align: center;
    font-size: 2rem;
}

.page-title{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.page-text{
    font-size: 1.5rem;
}

a{
    color: black;
    font-size: 1.5rem;
}

ul.page-link{
    list-style: decimal-leading-zero;
    padding-left: 3rem;
}

.image{
    width: 100%;
    max-width: 700px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 20px;
    transition: .5s all ease;
    transform: scale(1);
}
.image:hover{
    transform: scale(1.05);
}

.block-margin{
    margin-bottom: 2rem;
}