body{
    font-size: 12px;
    font-family: "TT2020Base";
}

h1, h2, h3, h4, h5, h6{
    font-family: "Pioneer";
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 5rem;
}

.prof{
    font-size: 3rem;
}

.photo{
    width: 20vw;
    margin: 3rem 0;
}

.descr{
    font-size: 2rem;
    line-height: 1.5rem;
    max-width: 80vw;
    font-style: italic;
    /* Кастомный шрифт - тут нет font-weight: 700;*/
}

.link{
    text-decoration: none;
    font-size: 1.8rem;
    animation-name: linkColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    color: orange;
    position: relative;
    margin-bottom: 3rem;
}

.link:after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 4px;
    left: 0;
    background-color: black;
    transition: .5s all ease-in;
}

.link:hover{
    animation-play-state: paused;
}
.link:hover:after{
    width: 100%;
}

@keyframes linkColor {
    0%   {
        color:orange;
    }
    25%  {
        color:yellow;
    }
    50%  {
        color:blue;
    }
    75%  {
        color:green;
    }
    95% {
        color:red;
    }
    100%{
        color:orange;
    }
}